form input{
    border-radius: 7px;
    border:1px solid grey ;
    padding: 6px;
    margin: 4px;
    position: relative;

}

form input:focus{
    border:1px solif orange;
    outline:none
}
form .searchButton{
    background-color: orange;
    border :none;
    border-radius: 10px;
    color: white;
    padding: 6px; 
    text-align: center;
}